body{
    font-family: 'Oswald', sans-serif !;
}

h1{
    font-weight: 700;
}   
h2{
    font-weight: 400;
}
h3{
    font-weight: 200;
}

.hero-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("img/HeroFondo.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: calc(100vh - 56px);
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.858);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.social-icons img{
    width: auto;      
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;

    opacity: .8;   
}

[id] {
    scroll-margin-top: 80px; 
}

.texto {
    font-size: 20px;
}

.border-custom{
    border-color: rgb(0, 0, 0);
}